@import 'phb';

.markdown {
    min-height: 100%;

    .phb:first-child blockquote {
        margin-top: 0;
    }
}

.note {
    width: 30%;
    float: right;
    background-color: var(--gray-200);
    padding: .5rem 1rem;
    margin: auto 1rem;

    &.left {
        float: left;
    }

    &:after {
        clear: both;
    }
}
