> ***Drowning Touch.*** The slam attack of a Floodslain creature partially fills a living victim's lungs with water. The
victim must succeed in a DC {{ .Get 0 }} Constitution saving throw or begin to drown and is slowed. The creature must
repeat the
save at the end of each of its next turns. On a failed save, the slowed creature becomes incapacitated, and the
incapacitated creature falls unconscious and begins dying. Creatures that do not need to breathe are immune to this
effect.
>
> ***Create Spawn.*** Creatures killed by the Floodslain's Drowning Touch, or killed by the Floodslain and left
submerged in water, will rise as Floodslain after 24 hours.
>
> ***Flash Flood.*** A Floodslain creature is constantly surrounded by an echo of the disaster that originally took its
life. Water streams from its body, forming a 10-foot radius pool that renders the ground slick and muddy, making it
difficult terrain.